@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700;800&display=swap');


body{ 
    font-family: 'Karla', sans-serif; 
    padding: 0 auto;
    margin: 0 auto;
    background: #e5ebf7;
    overflow-x: hidden;
}

.Navbar {
    padding: 3% 5%;
    width: 90%;
    background: #fff;
    box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301); 
    -moz-box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301);
}

.Navbar > a > h1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #000;
}

.Navbar > .MenuLink  {
    display: inline-block;
    position: absolute;
    right: 100px;
    padding: 1.3% 2%;
    width: 5%;
    font-weight: 700;
    color: #fff;
    border-radius: 4%;
    border-color: none;
    background: #2e3666;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.Menu > .AboutContentSection > a {
    display: inline-block;
    margin-bottom: 50%;
    margin-top: 50%;
}

.menuLinks {
    position: relative;
    top: 0;
    left: 20%;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.menuLinks > h1 {
    font-size: 5em;
    font-weight: 400;
    color: #22284b;
}

.menuLinks > a {
    display: block;
    text-decoration: none;
    color: #22284b;
    font-size: 4em;
    font-weight: 600;
    padding: 20px 30px;
}

.App > .ServerIcon{
    width: 35%;
    position: absolute;
    top: 100px;
    right: 200px;
    opacity: .05;
    z-index: -1;
}

.StandbySection{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding: 15% 0%; 
    text-align: center;
    
}

.AboutContentSection { 
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 20%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 10%;
    width: auto;
}

.AboutContentSection > img{
    width: 30%;
    height: 100%;
    border-radius: 8%;
    box-shadow: 1px -1px 38px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px -1px 38px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px -1px 38px 2px rgba(0,0,0,0.15);
}

.AboutContentSection > h1{
    font-size: 3.0em;
    letter-spacing: -2px;
    font-weight: 700;
    color: #2e3666;
}

.AboutContentSection > p{
    font-size: 1.3em;
    line-height: 1.6em;
    padding-right: 5%;
    text-align: left;
    font-weight: 600;
    color: #22284b;
    margin-bottom: 5%;
}

.AboutContentSection > a{

    padding: 2% 5%;
    font-weight: 700;
    color: #fff;
    border-radius: 4%;
    border-color: none;
    background: #2e3666;
    text-decoration: none;
}

.AboutContentSection > ul{ margin-bottom: 7%; }

.AboutContentSection > ul > li{
    font-size: 1.5em;
    line-height: 1.5em;
}

.ServiceAreas{
    margin-top: -10%;
}

table {
    background: rgba(86, 101, 133, 0.116);
    margin-top: 30px;
    padding: 20px;
    width: 100%;
}

table {
    margin-right: 30px;
    border: 2px solid black;
}

.Footer {
    position: relative;
    bottom: 0;
    padding-left: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 100%;
    background: #1a1c29;
    box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301); 
    -moz-box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301);
}

.Footer h1{
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}

.Footer > h3{
    color: #fff;
    font-size: .7em;
}

.Footer > .MenuLink  {
    display: inline-block;
    position: absolute;
    right: 180px;
    top: 20px;
    padding: 1.3% 2%;
    width: 5%;
    font-weight: 700;
    color: #fff;
    border-radius: 4%;
    border-color: none;
    background: #2e3666;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.Footer > .FooterLinkGroup{
    display: inline-block;
    position: absolute;
    right: 180px;
    top: 80px;
}

.Footer > .FooterLinkGroup > .FooterLink {
    text-decoration: underline;
    color: #fff;
    font-size: .8em;
    font-weight: 800;
    margin-right: 20px;
}

.ContactForm{ padding: 0% 5% 5% 0%; }

.ContactForm > h1{ 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    text-align: left;
 }

 .ContactForm > p{
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 5%;
     width: 50%;
     height: auto;
     font-size: 1.2em;
     line-height: 1.5em;
 }

 .ContactForm {
     margin-top: -150px;
 }

.ContactForm > form {
    padding-left: 5.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #939fb8;
    height: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5.5px;
    -webkit-box-shadow: 1px 1px 27px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 27px -26px rgba(0,0,0,0.75);   
    box-shadow: 1px 1px 27px -26px rgba(0,0,0,0.75);

}

.ContactForm > form > label { color: #fff; }

.ContactForm > form > input, select, textarea {
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 6%;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: .5%;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.3em;
}


.ContactForm > form > textarea#message{
    padding-top: 20px;
    height: 200px;
}

.ContactForm > form > input:focus{
    border: #22284b solid 2px;
}

/* TODO: ADD HOVER / TRANSITION ANIMATIONS IN CSS */

.ContactForm > form > label{
    font-weight: 400;
    font-size: 1.33em;
}

.ContactForm > form > button{
    padding: 2% 5% 2% 5%;
    font-weight: 700;
    color: #fff;
    border-radius: 4%;
    border: none;
    background: #1a1c29;
    text-decoration: none;
    cursor: grab;
}

@media screen and (max-width: 768px) {
    body{
        padding: 0 auto;
        margin: 0 auto;
        background: #ece5db;
    }

    .Navbar {
        padding: 5% 5%;
        width: 100%;
        background: #fff;
        box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301); 
    -moz-box-shadow: 2px 5px 19px -1px rgba(0, 0, 0, 0.301);
    }

    .Navbar > h1{
        display: inline-block;
        margin-right: 25%;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 800;
    }

    .Navbar > .MenuLink  {
        display: inline-block;
        padding: 3% 1%;
        height: 30%;
        width: 20%;
        font-weight: 700;
        color: #fff;
        border-radius: 4%;
        border-color: none;
        background: #2e3666;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }

    .AboutContentSection { padding: 5%; }

    .AboutContentSection > h1{
        font-size: 2.0em;
        letter-spacing: -2px;
        font-weight: 700;
        color: #2e3666;
    }

    .AboutContentSection > p{
        line-height: 1.5em;
        padding-right: 5%;
        text-align: left;
        font-weight: 600;
        color: #22284b;
        margin-bottom: 10%;
    }

    .AboutContentSection > a{

        padding: 5% 10%;
        height: 30%;
        width: 100%;
        font-weight: 700;
        color: #fff;
        border-radius: 4%;
        border-color: none;
        background: #2e3666;
        text-decoration: none;
    }
}